
.DS_Store
.AppleDouble
.LSOverride


Thumbs.db
ehthumbs.db
desktop.ini


*.swp
*.swo
*~



*.apk
*.aar
*.ap_
*.aab


*.dex


*.class


bin/
gen/
out/


.gradle/
build/
app/release/


.kotlin/
.kotlin-js-store/   # Kotlin/JS 编译缓存


.cxx/
.externalNativeBuild/


proguard/



*.iml
.idea/
local.properties
.claude/
.aiexclude


*.jks
*.keystore
google-services.json


freeline.py
freeline/
freeline_project_description.json


fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output
fastlane/readme.md


lint/intermediates/
lint/generated/
lint/outputs/
lint/tmp/


capacitor-cordova-android-plugins
app/src/main/assets/public
app/src/main/assets/capacitor.config.json
app/src/main/assets/capacitor.plugins.json
app/src/main/res/xml/config.xml



*.log
*.hprof
captures/
.navigation/
output-metadata.json
vcs.xml



**/iosApp/Pods/
**/iosApp/*.xcworkspace
**/iosApp/*.xcodeproj/project.xcworkspace/
**/iosApp/*.xcodeproj/xcuserdata/
**/iosApp/*.xcodeproj/project.pbxproj
**/iosApp/iosApp.xcworkspace/
**/iosApp/*.xcuserstate
**/iosApp/UserInterfaceState.xcuserstate
